body
{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
ul
{
    list-style: none;
}
a
{
text-decoration: none;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #b6bd53;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    font-weight: bold;
}
nav ul
{
    display: flex;
}
nav ul a
{
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #505050;
    font-size: 16px;
    font-weight: 700px;
}
nav ul li a:hover
{
    background-color: #eaae47;
    color: #fff;
    border-radius: 5px;
}
.logo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}
.home p
{
    line-height: 0px;
    margin: 55px 0px 25px;
}
#home
{
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: #f0e7e7;
}
.home p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #1a1a1a;
    font-size: 20px;
}
.home p:nth-child(2)
{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bolder;
    color: #6d6d6d;
    letter-spacing: none;
    font-size: 20px;
}
.home p:nth-child(3)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #404040;
    font-size: 20px;
}
.home p:nth-child(4)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #403040;
    font-size: 20px;
    line-height: 20px;
}
.home
{
    position: absolute;
    left: 10%;
    right: 5%;
    transform: translate(13%,42%);
}
.picture
{
    width: 200px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 25%;
    transform: translateX(-70%);
}
.about
{
    height: 10vh;
    background-color: #eaae47;
    padding: 2% 20% 20%;
}
.about-desc
{
    margin: 30px 30px;
}
.about-desc p:nth-child(1)
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;

}
.row
{
    margin: 25px;
    padding: 20px;
    display: flex;
}
.row .colum h2
{
    text-align: center;
}
.row .colum p
{
    text-align: justify;

}
.colum
{
    flex: 50%;
    padding: 20px;
    height: 150px;
}
/*skill*/
.skill
{
    height: 50vh;
    background-color: #fff;
    padding: 2% 20% 20%;
}
.skill-desc
{
    margin: 30px 30px;
}
.skill-desc p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.skill-desc p:nth-child(2)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    text-align: center;
}
.box-container
{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}
.box-1,.box-2,.box-3
{
    width: 300%;
    height: 300px;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}
.box-1 span,.box-2 span,.box-3 span
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin:0px 5px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.box-1 p:nth-child(3),.box-2 p:nth-child(3).box-3 p:nth-child(3)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    
    
}
/*contact*/
.contact
{
    height: 75vh;
    background-color: #daa7a7;
    padding: 2% 10% 51%;
}
.contact-desc
{
margin: 50px 50px;
align-items: center;
}

.contact-desc p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.contact-desc p:nth-child(2)
{
font-family: Georgia, 'Times New Roman', Times, serif;
color: #eaae47;
text-align: center;
}


























    
}


























